body, html {
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

/* #header.active {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
} */

#header .navbar-collapse {
    width: auto;
    flex-grow: 0;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-right:0;
    padding-left: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--secondary);
    border: solid 4px transparent;
}

#header .nav-link:hover {
    color: var(--primary);
    border-bottom: solid 3px var(--primary_dark);
}

#logo_nt {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

#img_fundo{
    max-width:700px;
    max-height:700px;
    width: auto;
    height: auto;
}

#slider h1 {
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 900;
}

#slider h4 {
    font-size: 18px;
    color: var(--secondary);
    text-transform: uppercase;
}

#slider h3 {
    font-size: 24px;
    text-transform: uppercase;
}

#servicos a.destaque {
    display: block;
    background: var(--ligth);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#servicos a.destaque:hover {
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12); 
    transform: scale(1.1);   
}

#servicos p {
    color: var(--secondary);
}

#servicos a.destaque .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#servicos a.destaque .img-container img {
    max-height: 160px;
}

#servicos h5 {
    text-transform: uppercase;
    font-size: medium;
}

#clientes {
    margin-bottom: 120px;
}

#clientes a.link-cliente {
    padding: 0px 50px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--ligth);
    height: 100px;
    width: 100px;
    transition: ease-out all 0.2s;

}

#clientes a.ne {
    padding: 0px 50px ;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--ligth);
    height: 100px;
    width: 200px;
    transition: ease-out all 0.2s;
  
}

#clientes a.link-cliente:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

#clientes a.link-cliente img {
    filter: grayscale(100%);
    width: 100%;
    opacity: 0.6;
    max-width:200px;
    max-height:80px;
    width: auto;
    height: auto;
}

#clientes a.link-cliente img:hover {
    filter: none;
    opacity: 1;
}

#clientes .clientes-texto {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background: var(--ligth);
    border-radius: 5px;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;      
}


 #clientes .clientes-texto .texto span {
    color: var(--primary);
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
  }

#clientes .clientes-texto .contato {
    padding-left: 120px;
}

#carouselExampleCaptions{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 750px;
    margin-bottom: 120px;
}
